---
---
<article>
<header>
<h1>{{page.title | escape}}</h1>
</header>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  		<div class="container">
    		<a class="navbar-brand" rel="author" href="/">MetaWorks</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse">
      			<ul class="navbar-nav me-auto">
					<li class="nav-item">
          				<a class="nav-link" href="/about/">About</a>
        			</li>
					<li class="nav-item">
          				<a class="nav-link" href="/install/">Install</a>
        			</li>
      			</ul>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
      				<ul class="navbar-nav ml-auto">
						<li class="nav-item">
          					<a class="nav-link" href="https://github.com/terrimporter/MetaWorksSite">Fork me on Github</a>
        				</li>
      				</ul>
				</div>
    		</div>
  		</div>
	</nav>
	<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div><section></section></div>

      </div>
    </main>
	<div class="py-5 border-top">
  		<div class="container">
  			<div class="col-sm text-right">
    			<p>This site is maintained by Teresita M. Porter (terrimporter AT gmail DOT com)</p>
				<p>Documentation License: <a href="https://creativecommons.org/licenses/by/4.0">CC-BY 4.0</a>
				</p>
      		</div>
    	</div>
  	</div>
</div>
</body>

<section>
{{content}}
</section>

</article>
